---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("./blog/*.mdx");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<Layout title="Gustavo Santos">
  <section class="grid gap-6">
    <h2 class="text-5xl font-bold">Hi, I'm Gustavo 👋</h2>
    <p class="tracking-wide text-lg">
      I'm a open-source contributor and freelance web developer based in Brazil
      🇧🇷
    </p>
    <div class="grid grid-cols-3">
      <a href="https://github.com/gefgu" target="_blank" class="w-min">
        <div class="p-2 hover:bg-gray-100 w-min rounded-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-github"
            ><path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
          </svg>
        </div>
      </a>
    </div>
  </section>
  <section class="mt-8">
    <h3 class="font-black text-4xl tracking-wide">Latest Posts</h3>
    <div class="mt-6 grid gap-4">
      {
        nonDraftPosts.map((post) => (
          <section>
            <h4 class="font-semibold text-2xl">
              <a href={post.url}>{post.frontmatter.title}</a>
            </h4>
            <p class="font-light text-gray-600 text-sm">
              {post.frontmatter.date}
            </p>
            <p class="text-gray-800 tracking-wide">
              {post.frontmatter.description}
            </p>
          </section>
        ))
      }
    </div>
  </section>
</Layout>
