---
import "@fontsource/metropolis";
export interface Props {
  title: string;
}

const { frontmatter, title } = Astro.props;
const { pathname } = Astro.url;


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter?.title ?? title}</title>
  </head>
  <body>
    <header class="flex justify-between max-w-screen-lg mx-auto py-4 px-8 mt-4">
      <h1 class="text-4xl cursor-pointer font-light">
        <a href="/">Gustavo Santos</a>
      </h1>
      <navbar>
        <ul class="flex gap-2">
          <li
            class={` h-full hover:bg-gray-100 rounded-md cursor-pointer font-semibold tracking-wide ${
              pathname === "/" && "bg-gray-100"
            }`}
          >
            <a href="/" class="px-4 py-2 block"> Home</a>
          </li>
          <li
            class={` h-full hover:bg-gray-100 rounded-md cursor-pointer font-semibold tracking-wide ${
              pathname.startsWith("/blog") && "bg-gray-100"
            }`}
          >
            <a href="/blog" class="px-4 py-2 block"> Blog</a>
          </li>
          <li
            class={` h-full hover:bg-gray-100 rounded-md cursor-pointer font-semibold tracking-wide ${
              pathname === "/work" && "bg-gray-100"
            }`}
          >
            <a href="/work" class="px-4 py-2 block"> Work</a>
          </li>
        </ul>
      </navbar>
    </header>
    <main class="max-w-screen-md mx-auto py-4 px-8 mt-8">
      <slot />
    </main>
  </body>
</html>
